.two-columns__paragraph {
  color: #000000;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  color: #000000;
  margin-bottom: 0;
}
